body {
  font-family: sans-serif;
  background-color: #333;
}

.photo {
  background: url('photo2.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
  background-color: #333;
}
  
section {
  align-items: center;
  background: #c4a7a7c2;
  color: #eefaff;
}

.holderLocation {
  justify-content: center;
  display: flex;
  margin: 10px;
  padding-right: 8%;  
}
  
#titleOne {
  width: 30vw;
  background-color: #e5d8d8d9;
}
   
.headline {
  letter-spacing: 4px;
  margin: 30px;
  padding-top: 10px;
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px #f1f1f1;
}
  
.title {
  margin-top: 70px;
  padding-top: 15px;
  color: #8e4a4ad9;
  height: 30px;
  letter-spacing: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.titleTwo {
  margin-top: 70px;
  padding-top: 15px;
  color: #8e4a4ad9;
  height: 30px;
  padding-left: 20px;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 900;
}
  
label {
  font-size: 23px;
  margin-top: 20px;
  margin-right: 10px;
}
  
input {
  height: 60px;
  width: 320px;
  background: #9bcae082;
  color: #ffffff;
  font-size: 20px;
  padding-left: 5px;
}

input:focus {
  outline:0;
}
  
button {
  width: 90px;
  height: 30px;
  color: #ffffff;
  font-size: 26px;
  border: none;
  margin-top: 10px;
  box-shadow: 2px 4px 5px #444;
  border-radius: 25px;
}

#save:hover {
  background-color: #333e4eb5;
}  

#delete:hover {
  background-color: #333e4eb5;
}  
  
.myButtons {
  justify-content: center;
  display: flex;
}

button:focus {
  outline:0;
}
  
#save {
  font-size: 12px;
  margin-right: 20px;
  background-color: #a0606096;
}
  
#delete {
  font-size: 12px;
  background-color: #a0606096;
}
  
.facts {
  padding-bottom: 60px;
  padding-top: 20px;
}
  
.text {
  margin-top: 30px;
  line-height: 15px;
  letter-spacing: 3px;
  color: #eefaff;
}
  
.layout {
  align-content: space-between;
  padding: 5px;
  margin: 5px;
  margin-bottom: 30px;
  font-size: 10px;
  background: #33333375;
}  
  
#ourEpisodes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
  
#ourEpisodes a {
  text-decoration: none;
  color: #8d8d8d;
}    

#ourEpisodes a:hover {
  background-color: white;
  border-radius: 25px;
  padding: 3px;
} 

#summary {
  color: white;
  line-height: 1.5em;
  height: 150px;
  margin-left: 20px;
  width: 60vw;
  padding-top: 50px;
  padding-left: 10px;
  background-color: #c4a7a7c2;
  letter-spacing: 2px;
}
  
::placeholder {
  color: #ffffff;
  font-family: sans-serif;
}
 